
.header {
    height: 250px;
    max-height:500px;
    background-image:url(../image/);
    background-size: cover;
    background-repeat: no-repeat;
    background-position:bottom;
}

#pagetop{text-align:center;

}

.colorContainer{
    display:inline-block;
    Margin:15px;
}
.swatch{
    height:200px;
    width:170px;
    border:1px solid }
    
    .hexCode{
        padding:15px;
        text-align:center;
        border:1px solid ;
        border-bottom-left-radius:7px;
        border-bottom-right-radius:7px; 
        }
        .typography{
        display:inline-block;
        margin:20x;
        }
        
        .uielements{
        display:inline-block;
        padding: 15px;
        margin:15px;
        width:150px;
        text-align:center;
        color:white;
        }
        
        .darkblue{background-color:#333366;}
        
        .darkgrey{background-color: #545454;}
        
        .lightgrey{background-color: #E3E3E3;}
        
        .white{background:#FFFFFF}
        
        .lighblue{background-color: #12A0F6;}
        
        .red{background-color:#F84848;}
        
        .orange{background-color: #FC7705;}
        
        .lightblue{background-color: #13A0F6}
        
        .lightgreen{background-color: #8ABE48;}