nav {
  height: 50px;
  background-color: lightgrey;
}
.inline-block{
  padding:15px;
  display:inline-block;
}

.left{
  height:500px;
  float:left;
  width: 30%;
  background-color: blueviolet;
}
.right{
  height:500px;
  float: left;
  width:30%;
  background-color: darkseagreen;
}
