nav{
    background-color: dodgerblue;
    height:100px
}
.menu-item{
    display: inline-block;
    padding:10px;
    text-align: center;
    width:100px;
    vertical-align: :middle;
}
.sidebar{
    width:29%;
    height:500px;
    background-color:pink;
}
.main-content{
    width:700%;
}
.puppyone{width:250px}